body{
    margin: 0;
    padding: 0;
}

.main-container{
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #26AF8F;
    margin-bottom: 130px;
    padding: 50px 140px;
}

.logo{
    font-size: 2vw;
    font-weight: 700;
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
}

.nav__el{
    transition: .2s;
    font-size: 1.2vw;
    font-weight: 700;
    opacity: .5;
    text-decoration: none;
    color: #000;
}

.nav__el:hover{
    transition: .2s;
    color: #2EAAD1;
}

.nav__el:not(:first-child){
    margin-left: 100px;
}

.about{
    padding: 50px 140px;
    text-align: center;
    position: relative;
    max-width: 1645px;
    margin: 0 auto;
}

.about__title{
    font-size: 1.6vw;
    font-weight: 500;
    margin-bottom: 130px;
}

.slider{
    border-left: 4px solid #2EAAD1;
    border-right: 4px solid #2EAAD1;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.slider__title{
    font-size: 1.5vw;
    text-align: center;
    margin-bottom: 4vw;
}

.slide__title{
    font-size: 2vw;
    margin-bottom: 4vw;
}

.slide__items{
    display: flex;
    justify-content: center;
}

.slide__item{
    font-size: 2vw;
}

.slide__item:not(:first-child){
    margin-left: 60px;
}

.about input{
    transition: 0.15s;
    position: absolute;
    outline: none;
    width: 7vw;
    height: 7vw;
}

.about input:hover {
    transition: 0.15s;
    opacity: 0.5;
}

.slider-left{
    left: 0%;
    top: 48%;
}

.slider-right{
    right: 0%;
    top: 48%;
    transform: rotate(180deg);
}

.projects{
    text-align: center;
    padding: 0 130px;
    max-width: 1645px;
    margin: 0 auto;
}

.projects__title{
    font-size: 2vw;
    margin-bottom: 70px;
}

.project{
    border: 3px solid #26AF8F;
    border-radius: 85px;
    padding: 3vw 0;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-around;
}

.project img {
    width: 6vw;
    height: 6vw;
}

.project__title{
    font-size: 3vw;
    font-weight: 700;
    display: inline-block;
    height: 100%;
}


.project__right{
    transform: scale(-1, 1);
}