body{
    margin: 0;
    padding: 0;
}

.main-container{
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #26AF8F;
    margin-bottom: 10vw;
    padding: 4vw 5vw;
}

.logo{
    font-size: 2vw;
    font-weight: 700;
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
}

.nav__el{
    transition: .2s;
    font-size: 1.2vw;
    font-weight: 700;
    opacity: .5;
    text-decoration: none;
    color: #000;
}

.nav__el:hover{
    transition: .2s;
    color: #2EAAD1;
}

.nav__el:not(:first-child){
    margin-left: 4vw;
}

.about{
    padding: 0 12vw;
    text-align: center;
    margin: 0 auto 3vw;
    position: relative;
}

.about__title{
    font-size: 1.6vw;
    font-weight: 500;
    margin-bottom: 130px;
}

.about__scroll img{
    width: 2vw;
    height: 4vw;
    position: absolute;
}

.slider{
    border-left: 4px solid #2EAAD1;
    border-right: 4px solid #2EAAD1;
    margin-bottom: 5vw;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.slider__title{
    font-size: 1.5vw;
    text-align: center;
    margin-bottom: 4vw;
}

.slide-container{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.slide{
    width: 100%;
    flex: 0 0 auto;
}

.slide__title{
    font-size: 2vw;
    margin-bottom: 4vw;
}

.slide__items{
    display: flex;
    justify-content: center;
}

.slide__item{
    font-size: 2vw;
}

.slide__item:not(:first-child){
    margin-left: 3vw;
}

.about input{
    transition: 0.15s;
    outline: none;
    width: 7vw;
    height: 7vw;
}

.about input:hover {
    transition: 0.15s;
    opacity: 0.5;
}

#slider-left{
    left: 3vw;
    bottom: 4vw;
    position: absolute;
}

#slider-right{
    right: 3vw;
    bottom: 4vw;
    transform: rotate(180deg);
    position: absolute;
}

.projects{
    text-align: center;
    padding: 0 12vw;
    margin: 12vw auto 0;
}

.projects__title{
    font-size: 2vw;
    margin-bottom: 5vw;
}

.project{
    transition: .4s;
    border: 3px solid #26AF8F;
    border-radius: 85px;
    padding: 3vw 0;
    margin-bottom: 5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    text-decoration: none
}

.project:hover{
    transition: .4s;
    opacity: .5;
}

.project img {
    width: 6vw;
    height: 6vw;
}

.project__title{
    font-size: 3vw;
    font-weight: 700;
    display: inline-block;
    height: 100%;
}


.project__right{
    transform: scale(-1, 1);
}

.contacts__title{
    text-align: center;
    font-size: 2vw;
    margin-bottom: 2vw;
}

.contacts-container{
    text-align: center;
    margin-bottom: 50px;
}

.contacts__el a{
    transition: 0.2s;
    font-size: 1.5vw;
    color: black;
    text-decoration: none;
}

.contacts__el:not(:first-child){
    margin-left: 5vw;
}

.contacts__el a:hover{
    transition: 0.2s;
    color: #26AF8F;
}